[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = https://github.com/michalpelka/FAST_LIO.git
[submodule "src/livox_ros_driver"]
	path = src/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
[submodule "src/pointgrey_camera_driver"]
	path = src/pointgrey_camera_driver
	url = https://github.com/ros-drivers/pointgrey_camera_driver.git
[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git

[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
